body{background-color: #06080D;
	color: white;
}

.tit{text-align: center;
	padding-top: 50px;
}

.p{
	text-align: center;

}

.admin{
	text-align: center;
	padding-top: 50px;
}

.luka{
	text-align: center;
	padding-top: 10px;
}

.dev{float: left;
	padding-top: 50px;
}

.idea{
	text-align: center;
	padding-right: 110px;
	padding-top: 50px;
}
.baki{
	text-align: center;
	padding-top: 10px;
	padding-right: 110px;
}

.job{
	text-align: center;
	padding-top: 50px;
}
